<div id="rivo-page-wrapper" style="min-height:800px;"></div>

<div class="page-section" id="faqs">
  <div class="columns-faqs">
    <div class="content-left">
      <img
        src="https://cdn.shopify.com/s/files/1/0615/3506/0131/files/Davroe_Rebuilder_054c67b3-315f-43ee-81f2-c57a819f6dd0.jpg?v=1695634151"
        alt="Davroe"
      >
    </div>
    <div class="content-right">
      <div
        class="title"
        style="font-size: 42px; color: var(--color-primary); line-height:normal; font-family: inherit; text-align: left;"
      >
        Δες τι μας ρωτούν συχνά οι φίλοι μας
      </div>
      <div class="accordion-wrapper">
        <button class="accordion">Πώς βλέπω πόσους πόντους έχω μαζέψει;</button>
        <div class="panel">
          <p><b>
           Ακολουθείς 2 απλά βήματα:
          </b>
          </p>
          <p>
            1. Συνδέεσαι στον λογαριασμό σου στο hairmony.gr με τους κωδικούς σου. 
          </p>
          <p>
            2. Πατάς Rewards στο κεντρικό μενού. 
          </p>
          <p>
          Βλέπεις αμέσως τους πόντους που έχεις συλλέξει και τη συνολική δραστηριότητά σου.
          <p/>
          <p>
            Επιπλέον, κάθε φορά που συγκεντρώνεις πόντους, σου στέλνουμε σχετικό email κι έτσι μπορείς να βλέπεις τους πόντους σου μέσα από εκεί. 
          </p>
           <p>Αν δεν το έχεις κάνει ήδη, <u><a href="https://hairmony.gr/account/register">δημιούργησε λογαριασμό τώρα.</a></u></p>
          </p>
        </div>
        <button class="accordion">Πόσο διαρκούν οι πόντοι μου;</button>
        <div class="panel">
          <p>Για πάντα.</p>
        </div>
        <button class="accordion">Πώς λαμβάνω το κουπόνι μου;</button>
        <div class="panel">
          <p><b>Ακολουθείς 3 απλά βήματα:</b></p>
          <p>1.	Συνδέεσαι στον λογαριασμό σου στο hairmony.gr με τους κωδικούς σου.</p>
          <p>2.	Πατάς ΕΞΑΡΓΥΡΩΝΩ ΤΟΥΣ ΠΟΝΤΟΥΣ ΜΟΥ, αρκεί να έχεις συγκεντρώσει 200 πόντους.</p>
          <p>3. Βλέπεις το κουπόνι 7 ευρώ στον λογαριασμό σου.</p>
          <p>Επιπλέον, σου στέλνουμε αυτόματα το κουπόνι και στο e-mail σου, οπότε το έχεις και εκεί.</p>
          <p>Αν δεν το έχεις κάνει ήδη, <u><a href="https://hairmony.gr/account/register">δημιούργησε λογαριασμό τώρα.</a></u></p>
        </div>
        <button class="accordion">Πώς βλέπω τα κουπόνια που έχω κερδίσει;</button>
        <div class="panel">
          <p><b>Ακολουθείς 3 απλά βήματα:</b></p>
          <p>1.	Συνδέεσαι στον λογαριασμό σου στο hairmony.gr με τους κωδικούς σου.</p>
          <p>2.	Πατάς Rewards στο κεντρικό μενού.</p>
          <p>3.	Στις ανταμοιβές σου, βλέπεις όλα τα κουπόνια που έχεις κερδίσει.</p>
          <p>Επιπλέον, κάθε φορά που κερδίζεις κάποιο κουπόνι, σου στέλνουμε σχετικό email. Έτσι, μπορείς να βλέπεις τα κουπόνια σου και μέσω των email σου.</p>
          <p>Αν δεν το έχεις κάνει ήδη, <u><a href="https://hairmony.gr/account/register">δημιούργησε λογαριασμό τώρα.</a></u></p>
        </div>
        <button class="accordion">Πόσο καιρό έχω για να εξαργυρώσω το κουπόνι μου;</button>
        <div class="panel">
          <p>
           Το κουπόνι σου δεν λήγει ποτέ και μπορείς να το εξαργυρώσεις όποτε θέλεις.
          </p>
        </div>
        <button class="accordion">Πώς εξαργυρώνω το κουπόνι μου;</button>
        <div class="panel">
          <p>
          Μπορείς να εξαργυρώσεις το κουπόνι σου μόνο με αγορές άνω των 35€. 
          </p>
          <p><b>
          Ακολουθείς 6 απλά βήματα:
          </b>
          </p>
          <p>
          1. Συνδέεσαι στον λογαριασμό σου στο hairmony.gr με τους κωδικούς σου.  
          </p>
          <p>
          2. Κλικάρεις το κουπόνι που εμφανίζεται στις ανταμοιβές σου. 
          </p>
          <p>
          3. Βρίσκεις τον κωδικό κουπονιού επάνω στο κουπόνι.
          </p>
           <p>
          4. Στο καλάθι αγορών σου, συμπληρώνεις τον κωδικό του κουπονιού στο πεδίο «Κωδικός έκπτωσης».
          </p>
           <p>
          5. Πατάς «Έκπτωση».
          </p>
           <p>
          6. Συνεχίζεις με την ολοκλήρωση της αγοράς σου. 
          </p>
          <p>
          Ένας άλλος τρόπος είναι να βρεις τον κωδικό κουπονιού στο email που έλαβες από εμάς όταν κέρδισες το κουπόνι και να συνεχίσεις από το βήμα 4 και κάτω.
          </p>
          <p>
            Αν δεν το έχεις κάνει ήδη, <u><a href="https://hairmony.gr/account/register">δημιούργησε λογαριασμό τώρα</a></u>. 
          </p>
        </div>
        <button class="accordion">Μπορώ να εξαργυρώσω περισσότερα από 1 κουπόνια σε μια παραγγελία;</button>
        <div class="panel">
          <p>
            Όχι. Μπορείς να εξαργυρώνεις μόνο 1 κουπόνι ανά παραγγελία άνω των 35€. Αν έχεις περισσότερα κουπόνια, θα
            πρέπει να κάνεις ισάριθμες παραγγελίες άνω των 35€.
          </p>
        </div>
        <button class="accordion">
          Εξαργύρωσα το κουπόνι μου σε μια αγορά. Μπορώ να κάνω επιστροφή της παραγγελίας;
        </button>
        <div class="panel">
          <p>
            Ναι. Εάν θέλεις να επιστρέψεις μια παραγγελία που αγόρασες με χρήση κουπονιού, θα λάβεις πίσω το κουπόνι
            σου.
          </p>
        </div>
        <button class="accordion">Μπορώ να εξαργυρώσω το κουπόνι μου σε προϊόντα προσφοράς;</button>
        <div class="panel">
          <p>
            Ναι. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #faqs {
    padding: 100px 10px;
  }

  .columns-faqs {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    column-gap: 6%;
  }

  @media (max-width: 800px) {
    .section {
    padding: 75px 20px;
    }
    #faqs{
      padding: 55px 10px 0;
    }
    .columns-faqs {
      flex-direction: column;
    }
    .content-left {
      padding: 0;
    }
    .content-right {
      padding-top: 50px;
    }
    .content-right .title {
      font-size: 35px!important;
    }
    .accordion-wrapper{
      margin-top:20px!important;
    }
  }

  @media screen and (max-width:600px){
   .content-right .title {
     text-align:center!important;
   }
  }
  .content-left, .content-right {
    flex: 1;
    text-align: center;
    align-self: start;
  }

  .content-left {
    padding: 0;
  }

  /* ACCORDION */
  .accordion-wrapper {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
  }
  .accordion {
    font-family: inherit;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight:700;
    transition: 0.2s;
  }

  .active, .accordion:hover {
    background-color: white;
  }

  .accordion:before {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }

  .active:before {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    border: none;
    text-align: start;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s linear,opacity .15s linear .1s;
  }
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
